{{!< default}}
<body>
    <div class="main-bio">
        <img src="/assets/images/me.jpg" alt="" class="img-circle">
        <h1>William Ferguson</h1>
        <h3>Designer. Changemaker. Human.</h3>
        <p>Hi, I'm <b>William</b>. I'm interested in technology and psychology to design <b>products</b> and <b>experiences</b> to help people become smarter, healthier, and happier in life.</p>
        <p>Social change, building companies, vulnerability, philosophy books, and yoga never cease to fascinate me. More importantly, <b>coffee</b> is my favorite hobby from learning about roasting methods to practicing various brewing methods.</p>
        <p>Currently, I go to class (sometimes) at <b>Penn State</b>. Most of my time in school is spent helping <b>HESE</b>, creating a class for students to design their own path, and processing my thoughts by writing. Outside of class, I spend time growing <b>Innoblue</b> and the <b>Penn State Summer Founders Program</b>.</p>
        <div>
        	<a class="btn" href="/author/william" role="button">THIS WAY</a>
        	<a href="mailto:williamcferg@gmail.com"><img src="/assets/images/mail.png" alt="" class="media-icon"></a>
        	<a href="https://twitter.com/williamcferg"><img src="/assets/images/twitter.png" alt="" class="media-icon"></a>
        	<a href="https://www.instagram.com/wcferg"><img src="/assets/images/instagram.png" alt="" class="media-icon"></a>
        	<a href="https://linkedin.com/williamcferg"><img src="/assets/images/linkedin.png" alt="" class="media-icon"></a>
        </div>
    </div>
</body>